
/* ADD YOUR STYLES HERE */


/*  AREA CHART */

.area {
    fill: FireBrick;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

/****************/
/*   BAR-CHART  */
/****************/

.bar {
  /*fill: #3C948B;*/
  fill: FireBrick;
}

.bar:hover {
  /*fill: #327972;*/
}

.axis {
  font: 12px sans-serif;
}



.axis-label {
  fill: #888;
  font-size: 12px;
  text-anchor: middle;
}

.axis path, .axis line, .domain {
  fill: none;
  stroke: #888;
  shape-rendering: crispEdges;
}

#bar-chart {
    font: 16px sans-serif;
}
