/*ID Selector (e.g. #content)
Class Selector
Descendant Selector for the dynamically created Harvard facts (paragraphs)
Custom Hover-Effect for hyperlinks
Padding and Margin properties
Color or Background-Color properties*/


.centered {
  text-align: center;
}

#content p {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  padding: 15px;
  border-color: #ddd;
}

a:hover {
    text-decoration: underline !important;
}

#cs171-basics {
  background-color: white;
  color: black;
  border-color: black;
  margin-bottom: 20px;
}

#cs171-basics:hover {
  box-shadow: 0 0 2px #111;
  transition: box-shadow 0.5s;
}
