.domestic {
    fill: steelblue;
}

.foreign {
    fill: firebrick;
}

.map {
    fill: #bbb;
}

/*.map:hover {
    fill: forestgreen;
}*/

.airport {
    fill: dodgerblue;
}

h1 {
    text-align: center;
}
